*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
.section1{
    height: 100vh;
    width: 100%;
}
.section1 .nav{
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    position: fixed;
}
.nav span{
    cursor: pointer;
    color: white;
    font-size: 3vh;
}
.cursor{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    pointer-events: none;
    scale: 0;
    transition: cubic-bezier(0.19, 1, 0, 0.3s);
}
.main{
    height: 86vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.main h1{
    font-size: 25vh;
    color: #A3A3A3;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 20.5vh;
}
.main .h-first{
    transform: translateX(50px);
    font-weight: 100;
}

.main .h-second{
    transform: translateX(200px);
}
.main .head span{
    color: white;
    margin-left: 650px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.main-child{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.main-child span{
    color: white;
    text-transform: uppercase;
    font-size: 2.3vh;
    font-family: Arial, Helvetica, sans-serif;
}